html, body {
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
}

.container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto 80px;
	
}

.content {
	grid-column: 3 / 9;
	margin:0 0 0 5px;
	padding:5px 20px 30px 10px;
	box-shadow: -10px 0px 10px 1px #cccccc;
	border-top: 2px solid #003d74;
}
.history, .education {
	margin-left: 100px;
}
.history p {
	margin:5px 0 0 0;
	padding: 0;
}
.education p {
	margin:5px 0 0 0;
	padding: 0;
}
ul {
	margin-top: 5px;
}
.menu {
	grid-column: 9 / 11;
	background-color: #003d74;
	color: #ffffff;
	text-align: left;
	border-top: 2px solid #003d74;
	margin:0;
}
.article {
	text-align: justify;
}
h2 {
	color:#003d74 ;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color:#ffffff;
}
h1 {
	margin: 20px 20px 5px 15px;
	padding: 0;
}
h4 {
	margin: 0px 20px 5px 15px;
	padding: 0;
}
h3 {
	background-color: #002e58;
	padding: 2px 0 2px 15px;
}

.sub-header {
	margin: 10px 20px 5px 15px;
}
.detail {
	margin: 5px 20px 5px 15px;
	font-size: 14px;
}
.detail2 {
	margin-left: 15px;
	padding-right: 2px;
}
.email-ad {
	font-size: 13px;
}
a:link {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
.footer {
	display: flex;
	background-color: #003d74;
	grid-column: 3 / 11;
	grid-row: 3 ;
	margin-left: 5px;
	box-shadow: -10px 0px 10px 1px #cccccc;
}
.button {
	border: 1px solid white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 18px auto;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu {
        grid-row: 1;
        grid-column: span 12;
    }
    
    .content {
    	grid-row: 2;
        grid-column: span 12;
    }
    .footer {
    	grid-row: 3;
        grid-column: span 12;
    }
}